<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/pets</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
              <!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!--property name="hbm2ddl.auto">validate</property-->
<!--                 <property name="hbm2ddl.auto">update</property> -->
        <property name="hbm2ddl.auto">create</property>
                <!--property name="hbm2ddl.auto">create-drop</property-->
                
<!--             	<mapping class="entities.Persona" /> -->
<!--             	<mapping class="entities.Casa" /> -->
<!-- 		<mapping resource="org/home/entities/User.hbm.xml" /> -->

		<mapping resource="org/home/entities/Pet.hbm.xml" />
		<mapping resource="org/home/entities/PetBreed.hbm.xml" />
		
                
	</session-factory>
</hibernate-configuration>